.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

h1,h3 { text-align: center; }
#url { width: 350px }
.error { color: red; }
.fa-times { position:absolute; right: 5px; padding-left: 5px; }
.add_gene_container {
  text-align: center;
}
.gene_container {
  background-color: #eaeaea;
  border-radius: 8px; border: 1px solid darkgray;
  margin: 6px;
  height: 65px;
  width: 277px;
}
.gene_info {
  position: absolute;
  top: 0px;
  left: 22px;
  text-align: center;
}
.gene_title {
  font-size: 16px;
  font-weight:bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 230px;
}
.gene_source { font-style: italic;   text-overflow: ellipsis; }
.col-sm-4 { padding-left: 5px; padding-right: 5px; }
#mutate_button {
  width: 100px;
  margin: 10px auto 10px auto;
  display: block;
}
